<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dahar-in</title>
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <!-- googlefont -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" href="./favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
</head>
<body>
  <a href="#main-content" class="skip-link" tabindex="0">Skip to Content</a>
  
  <!-- header -->
  <header>
    <a href="#" class="logo"><span tabindex="0">Dahar</span>-in</a>

    <ul class="navbar" id="nav-bar">
      <li><a href="#home">Home</a></li>
      <li><a href="https://www.linkedin.com/in/muhammad-fajri-winanda-65037928b?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BScaIWsH0SZCgMbGK0GrMxQ%3D%3D">About</a></li>
      <li><a href="#fav">Favorite</a></li>
    </ul>

    <button class="bx bx-menu" id="menu-icon"></button>
  </header>

  <main>
    <main-app></main-app>

    <section class="main-container" id="main-content" tabindex="0">
      <div class="text-center">
        <h2>Restaurant Branches</h2>
        <section id="explore-list"></section>
      </div>
    </section>
  </main>

  <footer>
    <div class="footer_nav">
      <ul>
        <li><a href="#" tabindex="0">Home</a></li>
        <li><a href="#" tabindex="0">About</a></li>
        <li><a href="#" tabindex="0">Favorite</a></li>
      </ul>
    </div>
    <div class="footer_down">
      <p>Copyright &copy; 2024 Pajoo</p>
    </div>
  </footer>
</body>
</html>